.DealPage-container {
  margin: 50px;
  padding: 20px !important;
  background-color: #f9f9f9 !important;
}

.DealPage-header {
  margin: 0;
}

.DealPage-go-back {
  cursor: pointer;
}

.DealPage-image {
  margin-top: 50px;
  margin-left: -50px;
}
