.DealCard-image {
  opacity: .7;
  overflow: hidden;
  transition: all .2s ease-in-out;
  height: 240px;
  padding: 10px;
  margin-bottom: 10px;
}

.DealCard-image:hover,
.Card:hover .DealCard-image {
  opacity: 1;
}

.DealCard-header {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 20px;
  max-width: 180px;
}

.DealCard-subheader {
  font-size: 18px;
}

.DealCard-fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  margin-top: -14px;
  right: 6px;
  color: #fff;
  font-size: 42px;
  line-height: 42px;
  text-align: center;
}

.DealCard-favorited-true {
  right: 10px;
  margin-top: -10px;
}

.DealCard-favorited-true:before {
  content: '\1F49B';
  color: #0f0f0f;
}

.DealCard-favorited-false:before {
  content: '\2661';
  color: #0f0f0f;
}

.DealCard-fab:hover {
  background: #ffffcc;
  cursor: pointer;
}
