{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block navbar_content %}
    <div class="navbar-inner center">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">COUNTDOWN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">GOALS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/deals/">DEALS</a>
            </li>
        </ul>
    </div>
{% endblock navbar_content %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-3 jumbotron">
                <span style="font-size: 65px;">😃</span>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-8 jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-6">
                                <ul class="nav nav-pills nav-stacked">
                                    <li>👤 {{ object.username }}</li>
                                    <li>✉️️ {{ object.email }}</li>
                                    <li>☎️ 416-123-5555</li>
                                    <li><b><span style="color: darkgreen">UserID: A1B2C3D4E5</span></b></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="nav nav-pills nav-stacked">
                                    <li>📅 January 1, 1993</li>
                                    <li>🌎 Born in Canada</li>
                                    <li>📍 Living in Toronto, Canada</li>
                                    <li>
                                        <a href="#">
                                            <b><span style="color: darkgreen">Manage payment details</span></b>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3 jumbotron" style="background-color: transparent">
                <p>
                    <a href="#" class="btn btn-primary">&nbsp;&nbsp;&nbsp;EDIT&nbsp;&nbsp;&nbsp;</a>
                    <a href="#" class="btn btn-secondary">DELETE</a>
                </p>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-md-3">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">About</a></li>
                                <li><a href="#">How It Works</a></li>
                                <li><a href="#">User Agreement</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Company</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Help & Support</a></li>
                                <li><a href="#">Payments Processing</a></li>
                                <li><a href="#">Why Save</a></li>
                                <li><a href="#">Refer A Friend</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Tips & Resources</a></li>
                                <li><a href="#">Get the App</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
{% endblock content %}

