.Card-container {
  margin: 0 auto;
  width: 100%;
}

.Card {
  display: inline-block;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  position: relative;
  transition: all .2s ease-in-out;
  margin-bottom: 25px;
}

.Card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.Card-text {
  background: #FFF;
  padding: 20px;
  font-size: 14px;
  min-height: 200px;
}

.Card-text p {
  margin-top: 10px;
  margin-bottom: 0;
}
